﻿
@{
    ViewBag.Title = "GetBook";
}

<form method="post" action="PostBook">
    <p>Enter book name: </p>
    <input type="text" name="title"/>
    <p>Enter author name: </p>
    <input type="text" name="author"/>
    <input type="submit" value="Send"/>
</form>

