﻿@model IEnumerable<BookingAppStore.Models.Book>﻿
@{
    ViewBag.Title = "Книжный магазин";
}

<div>
    <h3>Распродажа книг </h3>
    <table>
        <tr>
            <td><p>Название книги</p></td>
            <td><p>Автор книги</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr>
        @foreach (var b in Model)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>
                <td><p><a href="/Home/Buy/@b.Id">Купить книгу</a></p></td>
            </tr>
        }
    </table>
    @*<ul>
        @foreach(string s in ViewBag.Fruit)
        {
            <li>@s</li>
        }
    </ul>*@
</div>
